@gray: lightgray;
@blue: #333366;
@yellow: #FFD828;

/*** Font ***/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@rale: Raleway;


.text {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: @rale;
  padding-top: 3em;
  background-size: cover;
  background-color: @blue;
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.header {
  text-align: center;
  background-size: cover;
  background-color: @blue;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.logo {
  width: 25em;
  height: 25em;
  background-size: cover;
  position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}

// phone
@media screen and (max-width: 500px) {
  .logo {
    width: 20em;
    height: 20em;
  }
}

.text-btn-style {
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: white;
  font-family: @rale;
  text-rendering: optimizeLegibility;
}

.arrow-btn-up {
  width: 7em;
  position: absolute;
  background-color: @blue;
  top: 0;left: 0; right:0;
  margin: auto;
  z-index: 1;
  border-radius: 20px;
  .membership-btn {
    .text-btn-style;
    margin-bottom: .5%;
    margin-top: 3%;
  }
}

@media screen and (max-height: 370px) {
  .arrow-btn-up, .arrow-btn-down {
    visibility: hidden;
  }
}

.arrow-btn-right {
  width: 4em;
  background-color: @blue;
  position: absolute;
  right: 0;
  top: 50%;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
  .blog-btn {
    .text-btn-style;
    margin-right: 3%;
    margin-top: .5%;
    margin-bottom: .5%;
  }
}

//  phone
@media screen and (max-width: 500px) {
  .arrow-btn-right {
    visibility: hidden;
  }
}

.arrow-btn-down {
  width: 4em;
  background-color: @blue;
  position: absolute;
  bottom: 0;left: 0; right:0;
  margin: auto;
  z-index: 1;
  border-radius: 20px;
  .join-btn {
    .text-btn-style;
    margin-top: .5%;
    margin-bottom: 3%;
  }
}

.arrow-btn-left {
  width: 4em;
  background-color: @blue;
  position: absolute;
  left: 0;
  top: 50%;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
  .media-btn {
    .text-btn-style;
    margin-top: .5%;
    margin-bottom: .5%;
  }
}

//  phone
@media screen and (max-width: 500px) {
  .arrow-btn-left {
    visibility: hidden;
  }
}

a:link {
  text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 3%;
  top: 3%;
  margin: auto;
  z-index: 5;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
  margin-right: 1em;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: @yellow;
  font-weight: normal;
}


/* Wrapper for item list */
.bm-item-list {
  padding: 3%;
  font-family: @rale;
  font-size: 1.2em;
  color: white;
}
