
//Smaller Screens
@media screen and (max-width: 320px) {
  .member-faded, .member, .member-picked{
    width: 95%;
    }

  .amanda-container {
    padding: 5%;
    margin: 5%;
    width: 90%;
    text-align: center;
  }
  .amanda-text {
    margin: -80% 0 0 10%;
    width: 200px;
    height: 200px;
  }
}

// Smaller Screens
@media screen and (max-width: 450px) {


}

// Ipad
@media screen and (min-width: 768px) {

}

// LAPTOPS
@media screen and (min-width: 1024px) {

}


// Desktop
@media screen and (min-width: 1440px) {

}

// Largest Screen
@media screen and (min-width: 4000px) {

}
