.ambassadors {
  padding: 5%;
  background-color: @gray;
}

.representatives {
  padding: 5%;
  background-color: @yellow;
}

.hannah, .amanda, .eric, .frank, .alejandra {
  width: 30%;
  padding: 5%;
  border-radius: 10%;
}


.member-faded {
  opacity: 0.2;
  border-radius: 100%;
  transition: opacity 2s ease;
  border-width: 10px;
  border-style: solid;
  border-color: @yellow;
  }

.member {
    border-radius: 100%;
    width: 10%;
    border: 10px;
    border-width: 15px;
  }
.member-picked {
  width: 10%;
  opacity: 0.2;
  border-radius: 100%;
  transition: opacity 2s ease;
  border-width: 10px;
  border-style: solid;
  border-color: @blue;

  }

.amanda-container {
  position: relative;
  background-color: @gray;
  text-align: left;
}
.amanda-text {
  position: absolute;
  color: @blue;
  font-weight: bolder;
  text-align: center;
  width: 200px;
  height: 200px;
  text-shadow: 2px;
}
