//Smaller Screens
@media screen and (min-width: 300px) {
  .member-faded, .member, .member-picked{
    width: 95%;
    }
  .member-container {
    width: 280px;
    height: 280px;
  }
  .member-text {
    margin: -100% 0 0 10%;
    width: 200px;
    height: 200px;
  }
}

// Smaller Screens
@media screen and (min-width: 375px) {
  .member-faded, .member, .member-picked{
    width: 95%;
    }
  .member-container {
    width: 320px;
    height: 300px;
  }
  .member-text {
    margin: -90% 0 0 10%;
    width: 250px;
    height: 250px;
  }
}

// Ipad
@media screen and (min-width: 425px) {
  .member-faded, .member, .member-picked{
    width: 95%;
    }

  .amanda-text {
    margin: -75% 0 0 12%;
    width: 250px;
    height: 250px;
  }

}

@media screen and (min-width: 768px) {
  .member-container {
    width: 360px;
    height: 340px;
  }
  .member-text {
    margin: -85% 0 0 12%;
    width: 250px;
    height: 250px;
  }
}

// LAPTOPS
@media screen and (min-width: 1024px) {
  .member-faded, .member, .member-picked{
    width: 100%;
    }
  .member-container {
    width: 380px;
    height: 360px;
  }
  .member-text {
    margin: -90% 0 0 12%;
    width: 250px;
    height: 250px;
  }
}

// Largest Screen
@media screen and (min-width:1900px) {
    .member-container {
      width: 400px;
      height: 380px;
    }
}
