.ambassadors {
  padding: 5%;
  background-color: @gray;
}

.representatives {
  padding: 5%;
  background-color: @yellow;
}

.hannah, .amanda, .eric, .frank, .alejandra {
  width: 30%;
  padding: 5%;
  border-radius: 10%;
}

.ejerson-container {
  position: relative;
  margin-left: 5%;
  margin-right: 65%;
  .text {
    color: @blue;
    font-weight: bolder;
    top: 5%;
    left: 10%;
    right: 10%;
    text-shadow: 2px;
  }
  .ejerson-faded {
    width: 20em;
    opacity: 0.2;
    border-radius: 10%;
    transition: opacity 2s ease;
    }
  .ejerson {
    border-radius: 10%;
    width: 20em;
  }
}
