@gray: lightgray;
@blue: darkblue;
@black: black;
@import url('https://fonts.googleapis.com/css?family=Squada+One');

.text {
  text-align: left;
  color: black;
  font-size: 20px;
  padding-top: 3em;
}

.title {
  text-align: center;

}

.footer {
  text-align: center;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 2%;
  top: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 2%;
  text-decoration: none;
  font-weight: normal;
  font-family: Squada One;
  font-size: 1.2em;
}

/* Styling of overlay */
.bm-overlay {
   background: rgba(0, 0, 0, 0.3);
}
