@gray: lightgray;
@blue: #252263;
@black: black;
@import url('https://fonts.googleapis.com/css?family=Squada+One');

.text {
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 3em;
  backgroun-size: cover;
  background-color: @blue;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.join {
  text-align: center;
  backgroun-size: cover;
  background-color: @blue;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .contact-btn {
    text-decoration: none;
    padding: 1em;
  }
}

.header {
  text-align: center;
  background-size: cover;
  background-color: @blue;
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer {
  text-align: center;
  background-color: black;
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 3%;
  top: 3%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
  margin-right: 1em;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1em 1em 0;
  font-size: 1.15em;
}


/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 2%;
  text-decoration: none;
  font-weight: normal;
  font-family: Squada One;
  font-size: 1.2em;
}
